<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title><%= title %> @ <%= currentViewName %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="datakids,data,kids,analysis,education,learning" />
	<meta name="Robots" content="index, follow" />
	<meta name="description" content="<%= description %>">
	<meta name="author" content="<%= author %>">
    
    <!-- Favicon -->
	<link rel="icon" type="image/png" href="favicon.png" />
   

	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" id="main-theme-script">
	<link href="css/themes/default.css" rel="stylesheet" id="theme-specific-script">
	<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" id="Link1">

        	<!-- Simplenso -->
	<link href="css/simplenso.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

	<!-- Modernizer -->
	<script type="text/javascript" src="scripts/d3/modernizr-2.5.3-respond-1.1.0.min.js"></script>  

    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified//jquery.ui.mouse.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified/jquery.ui.sortable.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified/jquery.ui.widget.min.js"></script>

    <!-- jQuery UI Draggable & droppable -->
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified/jquery.ui.draggable.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui/ui/minified/jquery.ui.droppable.min.js"></script>

    <!-- jQuery Cookie -->
    <script type="text/javascript" src="scripts/jquery.cookie/jquery.cookie.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="scripts/bootbox/bootbox.min.js"></script>

    <!-- Charting -->
    <link rel="stylesheet" href="scripts/cirque/cirque.css" />
    <link rel="stylesheet" href="css/charts/charting_application_simple.css" />


	<!-- Main CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="theme/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="theme/css/select_color.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="theme/js/fancybox/jquery.fancybox-1.3.4.css" />
    
    <!-- Skin CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="theme/styles/Yellow-Orange/yellow-orange.css" class="changeme" />
	
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="./theme/css/ie7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="./theme/css/ie8.css" /><![endif]-->	

    <!-- Scripts -->
    <script type="text/javascript" src="theme/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="theme/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="theme/js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="theme/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="theme/js/jquery.cookie.js"></script>

    
    <!-- Main JS -->
    <script type="text/javascript" src="theme/js/main.js"></script> 
    
    <!-- COLOR NAVIGATOR -->
	<script type="text/javascript">
		var $j = jQuery.noConflict();
		if($j.cookie("css")) {
			$j("link.changeme").attr("href",$j.cookie("css"));
		}
		$j(document).ready(function() { 
			$j("#nav li a").click(function() { 				
				$j("link.changeme").attr("href",$j(this).attr('rel'));
				$j.cookie("css",$j(this).attr('rel'), {expires: 365, path: '/'});
				return false;
			});
		});
	</script>

    <style>
    .pagination a
    {
        float: left;
        padding: 0 8px;
        line-height: 24px;
    }
    div.dataTables_info
    {
      padding-top: 3px;
      font-size:90%;
    }
    div.dataTables_length
    {
        display:none;
    }
    .in 
    {
        width:auto;
    }
    .accordion {
        background-color:#FEFEFE;
     }
    .accordion-heading {
        font-family: TOONISH,Georgia,"Times New Roman",Times,serif
    }
    </style>

    <%- renderScriptsTags(scripts) %>

    <!-- Base Portal Package -->
    <script type="text/javascript" src="scripts/simplenso/simplenso2.js"></script>

    <!-- Base Charting Package -->
    <script type="text/javascript" src="scripts/charts/basecharts.js"></script>

</head>
<body id="dashboard">
  <% console.log(user); %>
  <% if (typeof user === "undefined") {  user = { displayName: 'Not Logged In', authenticated: false, role: 'Guest', projects:[1] }; } %>
	
    <div id="header">
    <div class="wrap">
    	
        <h1><a href="home.html" title=""></a></h1>
        
        <div id="main-navigation">
            <ul class="dd-menu">
                <li class="current-menu-item"><a href="home.html" title="Home Page">Home</a></li>
                <li>
                   <a href="page-styles.html" title="Learn">Learn</a>
                   <ul>
                       <li><a href="gallery-2col.html" title="Gallery">Elements</a>
                           <ul>
                               <li><a href="#" title="Sub Item 1">Sub Item 1</a></li>
                               <li><a href="#" title="Sub Item 2">Sub Item 2</a></li>
                               <li><a href="#" title="Sub Item 3">Sub Item 3</a></li>
                               <li><a href="#" title="Sub Item 4">Sub Item 4</a></li>
                           </ul>
                       </li>
                       <li><a href="about-full.html" title="About Full">About Full</a></li>
                       <li><a href="page-styles.html" title="Page Styles">Page Styles</a></li>
                       <li><a href="404.html" title="Page Not Found">404</a></li>
                   </ul>
                </li>
                <li> 
                   <a href="gallery-2col.html" title="Gallery">Gallery</a>
                   <ul>
                       <li><a href="gallery-2col.html" title="">Gallery 2col</a></li>
                       <li><a href="gallery-4col.html" title="">Gallery 4col</a></li>
                       <li><a href="gallery-big-list.html" title="">Gallery big list</a></li>
                   </ul>
                </li>
                <li> 
                	<a href="blog-posts.html" title="Blog">Blog</a>
                	<ul>
                       <li><a href="blog-posts.html" title="Blog Posts">Blog Posts</a></li>
                       <li><a href="single-post.html" title="Single Post">Single Post</a></li>
                   </ul>
                </li>
                <li><a href="about.html" title="About Us Page">About</a></li>
	          <% if (user.authenticated) { %>
                <div class="btn-group pull-right" style="margin:0px;padding:0px;">
                    <div style="display:inline-block;">
			        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			          <i class="icon-user"></i>
			          <%= user.displayName %>
			          <span class="caret"></span>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="#">View Profile</a></li>
			          <% if (user.role == "Administrator") { %>
			             <li><a href="#">Manage Site</a></li>
			          <% } %>
			          <li><a class="cookie-delete" href="#">Delete Cookies</a></li>
			          <li><a href="#">Edit Settings</a></li>
			          <li class="divider"></li>
			          <li><a href="login.html">Logout</a></li>
			        </ul>
                    </div>
		        </div>
	        <% } else { %>
		  <div class="btn-group pull-right">
			<a class="btn" href="/login.html">Sign In</a>
		  </div>
	  <% } %>

              <div class="nav-collapse">
              </div><!--/.nav-collapse -->

            </ul><!-- e\nd dd-menu -->
                    
            </div><!-- end main-navigation -->
        
    </div><!-- end wrap -->
    </div><!-- end header -->
    
    <div class="container-fluid">

    <div class="row-fluid">
      <!-- Side Navigation -->
      <% if (showNavMenu) { %>
      <div class="span2">
          <!-- Put a project picker on there -->
            <div style="margin-top:4px;">
              <form id="projectSelector" name="projectSelector" action="/selectProject" method="post">
                <fieldset>
                  <select name="selectedProjectId" id="selectedProjectId" class="span12" onChange="this.form.submit();">
			        <% for (var i = 0; i < user.projects.length; i++) { var projectId = user.projects[i]; var project = projects[projectId]; %>
				        <option<%= (selectedProjectId == project.id) ? " selected='true'" : "" %> value="<%= project.id %>"><%= project.name %></option>
			        <% } %>
                  </select>
                </fieldset>
              </form>				
            </div>

                <div class="sidebar-nav" style="padding-top:2px;">
                  <div>	   
		            <div class="accordion" id="accordion2">

		            <!-- Optional Admin Filters -->
		            <% for(var i = 0; i < navMenuItems.length; i++) { var menuSection = navMenuItems[i]; %>
			            <% if(menuSection.name == "Main") { %>
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				            Admin
			              </a>
			            </div>
			            <div id="collapseOne" class="accordion-body collapse">
			              <div class="accordion-inner">
			                <ul class="nav nav-list">
					            <li class="nav-header"><%= menuSection.name %></li>
					            <% for(var x = 0; x < menuSection.items.length; x++) { var menuItem = menuSection.items[x]; %>
					            <li <%=  (menuItem.isActive ? "class='active'" : "") %> >
						            <a href="<%= menuItem.href %>">
						            <i class="<%= menuItem.icon %>"></i> <%= menuItem.name %>
						            </a>
					            </li>            
					            <% } %>
				             </ul>
			              </div>
			            </div>
		              </div>
		            <% } %>
		            <% } %>

		            <!-- Optional Views, currently Disabled -->
		             <% if(1 == 2) { %>
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseViews">
				            Views
			              </a>
			            </div>
			            <div id="collapseViews" class="accordion-body collapse in">
			              <div class="accordion-inner">
			                <ul class="nav nav-list">
				              <% for(var i = 0; i < navMenuItems.length; i++) { var menuSection = navMenuItems[i]; %>
				  	            <% if(menuSection.name == "Views") { %>
					              <li class="nav-header"><%= menuSection.name %></li>
					              <% for(var x = 0; x < menuSection.items.length; x++) { var menuItem = menuSection.items[x]; %>
						            <li <%=  (menuItem.isActive ? "class='active'" : "") %> >
						              <a href="<%= menuItem.href %>">
							            <i class="<%= menuItem.icon %>"></i> <%= menuItem.name %>
						              </a>
						            </li>            
					            <% } %>
				              <% } %>
				              <% } %>
				            </ul>
			              </div>
			            </div>
		              </div>
		             <% } %>


 		              <!-- Who Filters-->
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDemographicFilter">
				            Who?
			              </a>
			            </div>
			            <div id="collapseDemographicFilter" class="accordion-body collapse in">
			              <div class="accordion-inner">
				            <div>
					            <form>
					              <fieldset>
						            <label class="control-label" for="inputAgeGroup"><strong>Ages</strong></label>
						            <select id="inputAgeGroup" class="span10">
							            <option>All</option>
							            <option>Under 18</option>
							            <option>18 to 25 years</option>
							            <option>26 to 34 years</option>
							            <option>35 to 44 years</option>
							            <option>45 to 54 years</option>
							            <option>55 to 64 years</option>
							            <option>65+ years</option>
						            </select>

						            <label class="control-label" for="inputEducationLevel"><strong>Education Level</strong></label>
						            <select id="inputEducationLevel" class="span10">
							            <option>All</option>
							            <option>Less Than High School</option>
							            <option>High Schoool/GED</option>
							            <option>Some College</option>
							            <option>College Degree</option>
						            </select>

						            <br/>
						            <br/>
						            <label><strong>Gender</strong></label>
						            <label class="checkbox inline"><input type="checkbox" name="cbFemale" id="cbFemale" value="Female" checked="true">Female</label>					           <label class="checkbox inline"><input type="checkbox" name="cbMale" id="cbMale" value="Male" checked="true">Male</label> 				  
						            <br/>
						            <br/>
				                       </fieldset>	
                                                   </form>				
				              </div>
			              </div>
			            </div>
		              </div>

 		              <!-- What -->
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseChannelFilter">
				            What?
			              </a>
			            </div>
			            <div id="collapseChannelFilter" class="accordion-body collapse">
			              <div class="accordion-inner">
				            <div>
					            <form>
					              <fieldset>
						            <label><strong>What kind?</strong></label>
						            <label class="checkbox"><input type="checkbox" value="">All</label>
						            <label class="checkbox"><input type="checkbox" value="">Toys</label>
						            <label class="checkbox"><input type="checkbox" value="">Movies</label>
						            <label class="checkbox"><input type="checkbox" value="">Books</label>
					              </fieldset>
					            </form>				
				              </div>
			              </div>
			            </div>
		              </div>


 		              <!-- Date Filters -->
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseDateFilter">
				            When?
			              </a>
			            </div>
			            <div id="collapseDateFilter" class="accordion-body collapse">
			              <div class="accordion-inner">
				            <div>
					            <form>
					              <fieldset>
						            <label class="checkbox">
							            <input type="checkbox"><strong>Start Date</strong>
						            </label>
						            <input type="text" placeholder="08/01/2012" class="span8">
						            <select class="span8">
							            <option>1:00 am</option>
							            <option>2:00 am</option>
							            <option>3:00 am</option>
							            <option>4:00 am</option>
							            <option>5:00 am</option>
							            <option>6:00 am</option>
							            <option>7:00 am</option>
							            <option>8:00 am</option>
							            <option>9:00 am</option>
							            <option>10:00 am</option>
							            <option>11:00 am</option>
							            <option>12:00 am</option>
							            <option>1:00 pm</option>
							            <option>2:00 pm</option>
							            <option>3:00 pm</option>
							            <option>4:00 pm</option>
							            <option>5:00 pm</option>
							            <option>6:00 pm</option>
							            <option>7:00 pm</option>
							            <option>8:00 pm</option>
							            <option>9:00 pm</option>
							            <option>10:00 pm</option>
							            <option>11:00 pm</option>
							            <option>12:00 pm</option>
						            </select>
						
						            <br/>
						            <label class="checkbox">
							            <input type="checkbox"><strong>End Date</strong>
						            </label>
						            <input type="text" placeholder="08/01/2012" class="span8">
						            <select class="span8">
							            <option>1:00 am</option>
							            <option>2:00 am</option>
							            <option>3:00 am</option>
							            <option>4:00 am</option>
							            <option>5:00 am</option>
							            <option>6:00 am</option>
							            <option>7:00 am</option>
							            <option>8:00 am</option>
							            <option>9:00 am</option>
							            <option>10:00 am</option>
							            <option>11:00 am</option>
							            <option>12:00 am</option>
							            <option>1:00 pm</option>
							            <option>2:00 pm</option>
							            <option>3:00 pm</option>
							            <option>4:00 pm</option>
							            <option>5:00 pm</option>
							            <option>6:00 pm</option>
							            <option>7:00 pm</option>
							            <option>8:00 pm</option>
							            <option>9:00 pm</option>
							            <option>10:00 pm</option>
							            <option>11:00 pm</option>
							            <option>12:00 pm</option>
						            </select>
					              </fieldset>
					            </form>				
				              </div>
			              </div>
			            </div>
		              </div>


 		              <!-- Where Filters -->
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseLocationFilter">
				            Where?
			              </a>
			            </div>
			            <div id="collapseLocationFilter" class="accordion-body collapse">
			              <div class="accordion-inner">
				            <div>
					            <form>
					              <fieldset>
						            <label class="checkbox">
							            <input type="checkbox"><strong>By Country</strong>
						            </label>
						            <select class="span8">
							            <option>All Countries</option>
							            <option>United States</option>
							            <option>Canada</option>
							            <option>Mexico</option>
						            </select>
						
						            <br/>
						            <label class="checkbox">
							            <input type="checkbox"><strong>By State</strong>
						            </label>
						            <input type="text" placeholder="08/01/2012" class="span8">
						            <select class="span8">
							            <option>All States</option>
							            <option>CA</option>
							            <option>TX</option>
							            <option>WA</option>
						            </select>
					              </fieldset>
					            </form>				
				              </div>
			              </div>
			            </div>
		              </div>


		             <!-- Optional Settings Area -->
		             <% for(var i = 0; i < navMenuItems.length; i++) { var menuSection = navMenuItems[i]; %>
			            <% if(menuSection.name == "Settings") { %>
		              <div class="accordion-group">
			            <div class="accordion-heading">
			              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				            Settings
			              </a>
			            </div>
			            <div id="collapseThree" class="accordion-body collapse">
			              <div class="accordion-inner">
			                <label><strong>Select Theme</strong></label>
                            <span class="label label-inverse"><a class="theme-switch-default" href="#">Default</a></span>
				            <span class="label label-inverse"><a class="theme-switch-amelia" href="#">Amelia</a></span>
				            <span class="label label-inverse"><a class="theme-switch-cerulean" href="#">Cerulean</a></span>
				            <span class="label label-inverse"><a class="theme-switch-journal" href="#">Journal</a></span>
				            <span class="label label-inverse"><a class="theme-switch-readable" href="#">Readable</a></span>
				            <span class="label label-inverse"><a class="theme-switch-simplex" href="#">Simplex</a></span>
				            <span class="label label-inverse"><a class="theme-switch-slate" href="#">Slate</a></span>
				            <span class="label label-inverse"><a class="theme-switch-spacelab" href="#">Spacelab</a></span>
				            <span class="label label-inverse"><a class="theme-switch-spruce" href="#">Spruce</a></span>
				            <span class="label label-inverse"><a class="theme-switch-superhero" href="#">Superhero</a></span>
				            <span class="label label-inverse"><a class="theme-switch-united" href="#">United</a></span>

			                <ul class="nav nav-list">
					            <li class="nav-header"><%= menuSection.name %></li>
					            <% for(var x = 0; x < menuSection.items.length; x++) { var menuItem = menuSection.items[x]; %>
					            <li <%=  (menuItem.isActive ? "class='active'" : "") %> >
						            <a href="<%= menuItem.href %>">
						            <i class="<%= menuItem.icon %>"></i> <%= menuItem.name %>
						            </a>
					            </li>            
     		                   <% } %>
				            </ul>
			              </div>
			            </div>
		              </div>
		            <% } %>
	              <% } %>
		            </div>

                  </div>
                </div>
                <!--/.well -->


      </div>
      <% }; %>
      <!--/span-->

      <div class="<%= showNavMenu ? "span10" : "span12" %>">
        <div id="content" class="home">

        <div id="slider" style="min-height:800px;">
            <div class="wrap">
         	
                <div class="c-12">
            	    <div id="big-slider" style="width:auto;padding:10px;background-color:#FEFEFE;border: solid 2px #f0f0f0; height:auto;">

                                <script type="text/javascript" src="/js/d3.js"></script>
                                <script type="text/javascript" src="/js/crossfilter.js"></script>
                                <script type="text/javascript" src="/js/dc.js"></script>
                                <link rel='stylesheet' href='/css/chartstyle.css' />
                                <link rel='stylesheet' href='/css/dc.css' />
                                <style>
                                    .row {
                                        margin: 0px;
                                    }
                                </style>

                                <div class="container" style="width:initial;">
                                <h2>Barbie Sales in the United States</h2>
                                <div class="row" style="margin:0px;display:none;">
                                <b>Filters</b><br/>
                                <a href="#" onclick="javascript:quarterChart.filter('Q1');dc.redrawAll();">Q1</a>
                                <a href="#" onclick="javascript:quarterChart.filter('Q2');dc.redrawAll();">Q2</a>
                                <a href="#" onclick="javascript:quarterChart.filter('Q3');dc.redrawAll();">Q3</a>
                                <a href="#" onclick="javascript:quarterChart.filter('Q4');dc.redrawAll();">Q4</a>
                                <div id="filters"></div>
                                </div>
                                <div class="row">
                                    <div id="topic-bubble-chart" class="dc-chart">
                                        <strong>Topic Performance</strong> (x: index gain, y: index gain(%), radius: fluctuation/index ratio, color:
                                        gain/loss)
                                        <a class="reset" href="javascript:topicBubbleChart.filterAll();dc.redrawAll();"
                                           style="display: none;">reset</a>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="gain-loss-chart">
                                        <strong>Days by Gain/Loss</strong>
                                        <a class="reset" href="javascript:gainOrLossChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                                        <div class="clearfix"></div>
                                    </div>

                                    <div id="quarter-chart">
                                        <strong>Quarters</strong>
                                        <a class="reset" href="javascript:quarterChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                                        <div class="clearfix"></div>
                                    </div>

                                    <div id="month-chart">
                                        <strong>Months</strong>
                                        <a class="reset" href="javascript:monthChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                                        <div class="clearfix"></div>
                                    </div>

                                    <div id="fluctuation-chart">
                                        <strong>Days by Fluctuation(%)</strong>
                                        <a class="reset" href="javascript:fluctuationChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="monthly-move-chart">
                                        <strong>Monthly Index Abs Move & Volume/500,000 Chart</strong> (Blue Line: Avg Index, Green Line: Index
                                        Fluctuation)
                                        <a class="reset" href="javascript:volumeChart.filterAll();dc.redrawAll();"
                                           style="display: none;">reset</a>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div id="monthly-volume-chart">
                                    </div>
                                    <p class="muted pull-right" style="margin-right: 15px;">select a time range to zoom in</p>
                                </div>

                                <div class="row">
                                    <div>
                                        <div class="dc-data-count">
                                            <span class="filter-count"></span> selected out of <span class="total-count"></span> records | <a
                                                href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
                                        </div>
                                    </div>
                                    <table class="table table-hover dc-data-table">
                                        <thead>
                                        <tr class="header">
                                            <th>Date</th>
                                            <th>Open</th>
                                            <th>Close</th>
                                            <th>Change</th>
                                            <th>Volume</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                                <script type="text/javascript">
                                    var gainOrLossChart = dc.pieChart("#gain-loss-chart");
                                    var fluctuationChart = dc.barChart("#fluctuation-chart");
                                    var quarterChart = dc.pieChart("#quarter-chart");
                                    var monthChart = dc.pieChart("#month-chart");
                                    var moveChart = dc.compositeChart("#monthly-move-chart");
                                    var volumeChart = dc.barChart("#monthly-volume-chart");
                                    var topicBubbleChart = dc.bubbleChart("#topic-bubble-chart");

                                    // set dc.js version in title
                                    d3.selectAll("#version").text(dc.version);

                                    // load data from a csv file
                                    d3.csv("/data/shared/datasets/twitter/tweets.csv", function (data) {
                                        // since its a csv file we need to format the data a bit
                                        var dateFormat = d3.time.format("%m/%d/%Y %H:%M:%S");
                                        var numberFormat = d3.format("f");

                                        var reccount = 0;
                                        var errcount = 0;
                                        data.forEach(function (e) {
                                            try {
                                                var computeddate = e.date + " " + (e.hour >= 10 ? "" + e.hour : "0" + e.hour) + ":00:00";
                                                e.dd = dateFormat.parse(computeddate);;
                                                e.month = d3.time.month(e.dd); // pre-calculate month for better performance
                                                reccount++;
                                            }
                                            catch (err) {
                                                errcount++;
                                                alert(err.message + " : " + e.date + " : " + e.dd + " : " + e.month);
                                            }
                                        });

                                        //alert(reccount + " records processed with " + errcount + " errors");

                                        // feed it through crossfilter
                                        var ndx = crossfilter(data);
                                        var all = ndx.groupAll();

                                        var topicDimension = ndx.dimension(function (d) {
                                            return d.topic;
                                        });
                                        var topicPerformanceGroup = topicDimension.group().reduce(
                                                //add
                                                function (p, v) {
                                                    ++p.count;
                                                    p.absGain += +v.close - +v.open;
                                                    p.fluctuation += Math.abs(+v.close - +v.open);
                                                    p.sumIndex += (+v.open + +v.close) / 2;
                                                    p.avgIndex = p.sumIndex / p.count;
                                                    p.percentageGain = (p.absGain / p.avgIndex) * 100;
                                                    p.sumKloutScore += (+v.klout);
                                                    p.avgKloutScore = p.sumKloutScore / p.count;
                                                    p.sumSentiment += (+v.sentiment);
                                                    p.avgSentiment = p.sumSentiment / p.count;
                                                    p.fluctuationPercentage = (p.fluctuation / p.avgIndex) * 100;
                                                    return p;
                                                },
                                                //remove
                                                function (p, v) {
                                                    --p.count;
                                                    p.absGain -= +v.close - +v.open;
                                                    p.fluctuation -= Math.abs(+v.close - +v.open);
                                                    p.sumIndex -= (+v.open + +v.close) / 2;
                                                    p.avgIndex = p.sumIndex / p.count;
                                                    p.sumKloutScore -= (+v.klout);
                                                    p.avgKloutScore = p.sumKloutScore / p.count;
                                                    p.sumSentiment -= (+v.sentiment);
                                                    p.avgSentiment = p.sumSentiment / p.count;
                                                    p.percentageGain = (p.absGain / p.avgIndex) * 100;
                                                    p.fluctuationPercentage = (p.fluctuation / p.avgIndex) * 100;
                                                    return p;
                                                },
                                                //init
                                                function () {
                                                    return { count: 0, absGain: 0, fluctuation: 0, fluctuationPercentage: 0, sumIndex: 0, avgIndex: 0, sumKloutScore: 0, avgKloutScore: 0, percentageGain: 0, avgSentiment: 0, sumSentiment: 0 };
                                                }
                                        );

                                        var dateDimension = ndx.dimension(function (d) {
                                            return d.dd;
                                        });

                                        // monthly index avg fluctuation in percentage
                                        var moveMonths = ndx.dimension(function (d) {
                                            return d.month;
                                        });
                                        var monthlyMoveGroup = moveMonths.group().reduceSum(function (d) {
                                            return Math.abs(+d.close - +d.open);
                                        });
                                        var volumeByMonthGroup = moveMonths.group().reduceSum(function (d) {
                                            return d.volume / 500000;
                                        });
                                        var indexAvgByMonthGroup = moveMonths.group().reduce(
                                                function (p, v) {
                                                    ++p.days;
                                                    p.total += (+v.open + +v.close) / 2;
                                                    p.avg = Math.round(p.total / p.days);
                                                    return p;
                                                },
                                                function (p, v) {
                                                    --p.days;
                                                    p.total -= (+v.open + +v.close) / 2;
                                                    p.avg = p.days == 0 ? 0 : Math.round(p.total / p.days);
                                                    return p;
                                                },
                                                function () {
                                                    return { days: 0, total: 0, avg: 0 };
                                                }
                                        );

                                        var gainOrLoss = ndx.dimension(function (d) {
                                            return +d.open > +d.close ? "Loss" : "Gain";
                                        });
                                        var gainOrLossGroup = gainOrLoss.group();

                                        var fluctuation = ndx.dimension(function (d) {
                                            return Math.round((d.close - d.open) / d.open * 100);
                                        });
                                        var fluctuationGroup = fluctuation.group();

                                        var quarter = ndx.dimension(function (d) {
                                            var month = d.dd.getMonth() + 1;
                                            if (month <= 3)
                                                return "Q1";
                                            else if (month >= 4 && month <= 6)
                                                return "Q2";
                                            else if (month >= 7 && month <= 9)
                                                return "Q3";
                                            else
                                                return "Q4";
                                        });
                                        var quarterGroup = quarter.group().reduceSum(function (d) {
                                            return d.volume;
                                        });

                                        function GetMonthNameForDate(d) {
                                            var month = d.getMonth() + 1;
                                            var mt = "Err";
                                            if (month === 1) mt = "Jan";
                                            else if (month === 2) mt = "Feb";
                                            else if (month === 3) mt = "Mar";
                                            else if (month === 4) mt = "Apr";
                                            else if (month === 5) mt = "May";
                                            else if (month === 6) mt = "Jun";
                                            else if (month === 7) mt = "Jul";
                                            else if (month === 8) mt = "Aug";
                                            else if (month === 9) mt = "Sep";
                                            else if (month === 10) mt = "Oct";
                                            else if (month === 11) mt = "Nov";
                                            else if (month === 12) mt = "Dec";
                                            return mt;
                                        }

                                        var monthDimension = ndx.dimension(function (d) {
                                            return GetMonthNameForDate(d.dd);
                                        });


                                        var monthGroup = monthDimension.group().reduceSum(function (d) {
                                            return d.volume;
                                        });

                                        var topicGroup = topicDimension.group().reduceSum(function (d) {
                                            return d.volume;
                                        });

                                        topicBubbleChart.width(990)
                                                .height(250)
                                                .margins({ top: 10, right: 50, bottom: 30, left: 40 })
                                                .dimension(topicDimension)
                                                .group(topicPerformanceGroup)
                                                .transitionDuration(1500)
                                                .colors(["#a60000", "#ff0000", "#ff4040", "#ff7373", "#67e667", "#39e639", "#00cc00"])
                                                .colorDomain([-12000, 12000])
                                                .colorAccessor(function (d) {
                                                    return d.value.absGain;
                                                })
                                                .keyAccessor(function (p) {
                                                    //alert("keyAccessorr = " + p.value.avgSentiment);
                                                    return p.value.avgSentiment;
                                                })
                                                .valueAccessor(function (p) {
                                                    //alert("ValueAccessor = " + p.value.avgKloutScore);
                                                    return p.value.avgKloutScore;
                                                })
                                                .radiusValueAccessor(function (p) {
                                                    //alert("RadiusAccessor = " + p.value.avgIndex);
                                                    return p.value.avgIndex / 10000;
                                                })
                                                .maxBubbleRelativeSize(0.3)
                                                .x(d3.scale.linear().domain([0, 100]))
                                                .y(d3.scale.linear().domain([20, 90]))
                                                .r(d3.scale.linear().domain([0, 200]))
                                                .elasticY(true)
                                                .yAxisPadding(10)
                                                .elasticX(true)
                                                .xAxisPadding(10)
                                                .renderHorizontalGridLines(true)
                                                .renderVerticalGridLines(true)
                                                .renderLabel(true)
                                                .renderTitle(true)
                                                .label(function (p) {
                                                    return p.key;
                                                    //return p.key.getFullYear();
                                                })
                                                .title(function (p) {
                                                    return p.key.getFullYear()
                                                            + "\n"
                                                            + "Index Gain: " + numberFormat(p.value.absGain) + "\n"
                                                            + "Index Gain in Percentage: " + numberFormat(p.value.percentageGain) + "%\n"
                                                            + "Fluctuation / Index Ratio: " + numberFormat(p.value.fluctuationPercentage) + "%";
                                                })
                                                .yAxis().tickFormat(function (v) {
                                                    return v + "%";
                                                });

                                        gainOrLossChart.width(180)
                                                .height(180)
                                                .radius(80)
                                                .dimension(gainOrLoss)
                                                .group(gainOrLossGroup)
                                                .label(function (d) {
                                                    return d.data.key + "(" + Math.floor(d.data.value / all.value() * 100) + "%)";
                                                })
                                                .on("filtered", function (chart) {
                                                    $("#filters").text(chart.filter.arguments[0]);
                                                });

                                        quarterChart.width(180)
                                                .height(180)
                                                .radius(80)
                                                .innerRadius(30)
                                                .dimension(quarter)
                                                .group(quarterGroup);

                                        monthChart.width(180)
                                                .height(180)
                                                .radius(80)
                                                .innerRadius(30)
                                                .dimension(monthDimension)
                                                .group(monthGroup);

                                        fluctuationChart.width(420)
                                                .height(180)
                                                .margins({ top: 10, right: 50, bottom: 30, left: 40 })
                                                .dimension(fluctuation)
                                                .group(fluctuationGroup)
                                                .elasticY(true)
                                                .centerBar(true)
                                                .gap(1)
                                                .round(dc.round.floor)
                                                .x(d3.scale.linear().domain([-25, 25]))
                                                .renderHorizontalGridLines(true)
                                                .xAxis()
                                                .tickFormat(function (v) {
                                                    return v + "%";
                                                });

                                        moveChart.width(990)
                                                .height(180)
                                                .transitionDuration(1000)
                                                .margins({ top: 10, right: 50, bottom: 25, left: 40 })
                                                .dimension(moveMonths)
                                                .group(indexAvgByMonthGroup)
                                                .valueAccessor(function (d) {
                                                    return d.value.avg;
                                                })
                                                .x(d3.time.scale().domain([new Date(2012, 0, 1), new Date(2012, 11, 31)]))
                                                .round(d3.time.month.round)
                                                .xUnits(d3.time.months)
                                                .elasticY(true)
                                                .renderHorizontalGridLines(true)
                                                .brushOn(false)
                                                .compose([
                                                    dc.lineChart(moveChart).group(indexAvgByMonthGroup)
                                                            .valueAccessor(function (d) {
                                                                return d.value.avg;
                                                            })
                                                            .renderArea(true)
                                                            .stack(monthlyMoveGroup, function (d) {
                                                                return d.value;
                                                            })
                                                            .title(function (d) {
                                                                var value = d.value.avg ? d.value.avg : d.value;
                                                                if (isNaN(value)) value = 0;
                                                                return dateFormat(d.key) + "\n" + numberFormat(value);
                                                            })
                                                ])
                                                .xAxis();

                                        volumeChart.width(990)
                                                .height(40)
                                                .margins({ top: 0, right: 50, bottom: 20, left: 40 })
                                                .dimension(moveMonths)
                                                .group(volumeByMonthGroup)
                                                .centerBar(true)
                                                .gap(0)
                                                .x(d3.time.scale().domain([new Date(2012, 0, 1), new Date(2012, 11, 31)]))
                                                .round(d3.time.month.round)
                                                .xUnits(d3.time.months)
                                                .renderlet(function (chart) {
                                                    chart.select("g.y").style("display", "none");
                                                    moveChart.filter(chart.filter());
                                                })
                                                .on("filtered", function (chart) {
                                                    dc.events.trigger(function () {
                                                        moveChart.focus(chart.filter());
                                                    });
                                                });


                                        dc.dataCount(".dc-data-count")
                                                .dimension(ndx)
                                                .group(all);

                                        dc.dataTable(".dc-data-table")
                                                .dimension(dateDimension)
                                                .group(function (d) {
                                                    var format = d3.format("02d");
                                                    return d.dd.getFullYear() + "/" + format((d.dd.getMonth() + 1));
                                                })
                                                .size(10)
                                                .columns([
                                                    function (d) {
                                                        return d.date;
                                                    },
                                                    function (d) {
                                                        return d.open;
                                                    },
                                                    function (d) {
                                                        return d.close;
                                                    },
                                                    function (d) {
                                                        return numberFormat(d.close - d.open);
                                                    },
                                                    function (d) {
                                                        return d.volume;
                                                    }
                                                ])
                                                .sortBy(function (d) {
                                                    return d.dd;
                                                })
                                                .order(d3.ascending)
                                                .renderlet(function (table) {
                                                    table.selectAll(".dc-table-group").classed("info", true);
                                                });

                                        dc.renderAll();
                                    }
                                    );
                                </script>

                                <div class="clearfix"></div>
                                <script src="http://code.jquery.com/jquery-latest.js"></script>
                                <script src="/js/bootstrap.min.js"></script>

                                </div>

                    </div><!-- END big-slider -->
                </div>
            
            </div><!-- end wrap -->
        
            <div id="slider-bg"></div><!-- END slider-bg // ljulja, togodan, vepak // pronunced by my son Luka :) -->
            
       </div><!-- end slider-->
  	
            <div id="featured">
            <div class="wrap">                             

            </div><!-- end wrap -->                  
            </div><!-- END featured -->
                
        </div><!-- end content -->
      </div>

    </div>

    <div id="footer">
            
        <div id="sub-footer" class="clearfix">            
                    <p id="copyright">&copy; 2013 DataKid.com</p>
                    <ul class="subfooter-menu">
                        <li><a href="" title="">Terms &amp; Conditions</a></li>
                        <li><a href="" title="">Copyrights</a></li>
                        <li><a href="" title="">Site Map</a></li>
                    </ul>
                    
        </div><!-- end sub-footer -->

    </div><!-- end footer -->


    <div id="box-config-modal" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Adjust widget</h3>
        </div>
        <div class="modal-body">
        <p>This part can be customized to set box content specifix settings!</p>
        </div>
        <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Save Changes</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>

</div><!--/.fluid-container-->
    
</body>
</html>